@media (max-width: 479px) {

  

        
        nav a{
            display: none;
    
        
        }
        nav i{
            display: inline;
            color: rgb(154, 147, 147);
        
       
    }
        
        .ph2{

            font-size: 1.2vh;
        }
        
        .parent2{
            flex-direction: column;
            margin-top: 1vh;

           
        }

        .pb3{
            flex-direction: column;
            height: 500px;
            width: 100%;
          position: absolute;
          left: 2vh;
          top: 25vh;
        }

        .pb4{

            height: 70vh;
            width: 100%;
            position: absolute;
            left: 2vh;
            top: 100vh;
            right: 2vh;
            padding-right: 3vp;

        }

        .parent1{

            flex-direction: column;
           padding: 8vh;
           height: 100vh;
          
        }

        .pb4 h1{

            position: top;
            font-size: 5vh;
            padding: 3vh;
            flex-direction: column-reverse;

        }

        .ph2{
            font-size:1.8vh ;

        }

       

        .parent2{
            flex-direction: column;
            margin-top: 50vh;
            height: 2150vh;
        }
    

        .pp1{
            flex-direction: column;
            
        }

        .b1{
            margin:  2vh;
        }

        .pp1{

            flex-direction: column;
            margin: 3vh;
        }

        .mbox{
            flex-direction: column;
            width: 100%;
            height: 100%;

        }

        .bbox{

            height: 105vh;
    width: 90vw;
        }
        .bbox1{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        
        .bbox2{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox3{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox4{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }

        .bbox5{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        
        .bbox6{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox7{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox8{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox10{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        
        .bbox12{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox11{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox9{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox13{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }
        .bbox14{

            height: 105vh;
    width: 90vw;
    margin-top: 2vh;
        }



        .s4{
           display: none;
        }

        .footer{
            width: 100%;
            flex-direction: column;
           align-items: center;
           height: 400vh;
           padding-bottom: 20vh;
      
        }

        .fd1{
            height: 25%;
            margin-top: 1vh;
        }

        .fd2{
            height: 25%;
            padding-bottom: 12vh;
        }
        .fd3{
            height: 25%;
            margin-top: 1vh;
        }

        .fd4{
            height: 25%;
            margin-top: 1vh;
            
        }


        .copyright {
          margin-top: 2vh;
        
        }
        .parent3{
            margin-top:0vh;
            flex-direction: column;
            text-align: center;
        }
        .fd2{

            margin-top: -65vh;
           
        }
        .fd3{

            margin-top: -65vh;
        }



        /* about// */

        .ad1{

           flex-direction: column;
           padding-left:1 vh;
           align-items: center;
           text-align: center;
           height: 100%;
        }

        .adbox1{
           
        }

        .adbox2{

            height: 100%;
        }

        .adbox2 p{
            font-size: 2.5vh;
            line-height: 22px;
            overflow: hidden;
    
            padding-left: 2vh;
        }

        .ad2{
            height: 100%;
            
            flex-direction: column;
            margin-top: 1vh;
        }

        .ah1{
            font-size: 2vh;
        }

        .adbo{

            height: 100%;
            flex-direction: column;
            align-items: center;
            margin: 1vh;
        }

        .ah1{

            margin-top: -5vh;
        }

        .adbo2{
            height: 100%;
            flex-direction: column;
            

        }

        .adboxp{
            margin-top: 3vh;
            font-size: 4vh;

        }

        /* contacts us */

        .cad{

            flex-direction: column;
            height: 100%;
            margin-top: 2vh;
        }

        .form2 input{

    
            width: 10vh;
            font-size: 2vh;


        }
        
        .form1{

            flex-direction: column;
            width: 30%;

        }

        .form1 input{
            width: 85%;
            flex-direction: column;
            

        }


        .cadbox{


            flex-direction: column;
            height: 100%;
            margin-top: 40vh;
            margin-left: 1vh;
            display: inline;
            margin-left: -22vh;
            width: 80%;
        }

        .cad2{
            height: 100%;
        }

        .cadbox iframe{
          
            height: 100%;
            width: 100%;
        }

        .adfg{
            margin-left: -10vh;
        padding-left: 2vh;
        }
        .botpn{
            height: 100%;

        }
        .botpn1{

            flex-direction: column;
            height: 100%;
        }
        
}


    
    
    